:root {
  --semantic-action-focus-ring: #7F869F;
  --semantic-action-hover-onSurface: #EBF1FF;
  --semantic-action-primary: #261DB6;
  --semantic-action-secondary: #6E7CFF;
  --semantic-action-tertiary: #708DFF;
  --semantic-bg-default: #FFFFFF;
  --semantic-bg-disabled: #DBE4FF;
  --semantic-bg-error: #FFD6DB;
  --semantic-bg-success: #C8F9E0;
  --semantic-bg-warning: #FFEFC2;
  --semantic-border-default: #121212;
  --semantic-border-disabled: #BECDFF;
  --semantic-border-error: #FF2233;
  --semantic-border-success: #00CC66;
  --semantic-border-warning: #FFCC22;
  --semantic-text-color-default: #121212;
  --semantic-text-color-disabled: #DBE4FF;
  --semantic-text-color-error: #D71D2D;
  --semantic-text-color-grey: #7F869F;
  --semantic-text-color-link: #2F22FF;
  --semantic-text-color-onPrimary: #FFFFFF;
  --semantic-text-color-secondary: #374151;
  --semantic-text-color-success: #00CC66;
  --semantic-text-color-warning: #E6B51F;
}
