:root {
  --semantic-action-focus-ring: var(--color-slate-500);
  --semantic-action-hover-onSurface: var(--color-blue-50);
  --semantic-action-primary: var(--color-blue-800);
  --semantic-action-primary-hover: var(--color-blue-900);
  --semantic-action-primary-pressed: var(--color-blue-950);
  --semantic-action-secondary: var(--color-blue-400);
  --semantic-action-secondary-hover: var(--color-blue-500);
  --semantic-action-secondary-pressed: var(--color-blue-600);
  --semantic-action-tertiary: var(--color-blue-300);
  --semantic-bg-default: var(--color-white);
  --semantic-bg-disabled: var(--color-blue-100);
  --semantic-bg-error: var(--color-red-100);
  --semantic-bg-success: var(--color-green-100);
  --semantic-bg-warning: var(--color-amber-100);
  --semantic-border-default: var(--color-black);
  --semantic-border-disabled: var(--color-blue-200);
  --semantic-border-error: var(--color-red-500);
  --semantic-border-success: var(--color-green-500);
  --semantic-border-warning: var(--color-amber-500);
  --semantic-text-color-default: var(--color-black);
  --semantic-text-color-disabled: var(--color-blue-100);
  --semantic-text-color-error: var(--color-red-600);
  --semantic-text-color-grey: var(--color-slate-500);
  --semantic-text-color-link: var(--color-blue-600);
  --semantic-text-color-onPrimary: var(--color-white);
  --semantic-text-color-secondary: var(--color-slate-700);
  --semantic-text-color-success: var(--color-green-500);
  --semantic-text-color-warning: var(--color-amber-600);
}
