:root {
  --color-white: #FFFFFF;
  --color-black: #121212;
  --color-blue-20: #F7FAFF;
  --color-blue-50: #EBF1FF;
  --color-blue-100: #DBE4FF;
  --color-blue-200: #BECDFF;
  --color-blue-300: #708DFF;
  --color-blue-400: #6E7CFF;
  --color-blue-500: #4C50FF;
  --color-blue-600: #2F22FF;
  --color-blue-700: #2F20E2;
  --color-blue-800: #261DB6;
  --color-blue-900: #24208F;
  --color-blue-950: #171353;
  --color-slate-20: #FFFFFF;
  --color-slate-50: #F6F8FB;
  --color-slate-100: #F3F4F6;
  --color-slate-200: #ECEEF2;
  --color-slate-300: #D1D5DB;
  --color-slate-400: #9CA3AF;
  --color-slate-500: #7F869F;
  --color-slate-600: #4B5563;
  --color-slate-700: #374151;
  --color-slate-800: #1F2937;
  --color-slate-900: #111827;
  --color-slate-950: #121212;
  --color-red-50: #FFF0F2;
  --color-red-100: #FFD6DB;
  --color-red-500: #FF2233;
  --color-red-600: #D71D2D;
  --color-red-800: #8A1018;
  --color-amber-50: #FFF9E6;
  --color-amber-100: #FFEFC2;
  --color-amber-500: #FFCC22;
  --color-amber-600: #E6B51F;
  --color-amber-700: #B38E14;
  --color-amber-800: #8C6F0F;
  --color-green-50: #ECFFF5;
  --color-green-100: #C8F9E0;
  --color-green-300: #74CCA0;
  --color-green-500: #00CC66;
  --color-green-600: #00A854;
  --color-green-800: #006633;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;
  --font-size-36: 36px;
  --line-height-16: 16px;
  --line-height-20: 20px;
  --line-height-24: 24px;
  --line-height-28: 28px;
  --line-height-32: 32px;
  --line-height-36: 36px;
  --line-height-40: 40px;
  --line-height-44: 44px;
  --letter-spacing-tight: -0.009999999776482582em;
  --letter-spacing-normal: 0em;
  --letter-spacing-wide: 0.019999999552965164em;
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-64: 64px;
  --space-80: 80px;
  --space-96: 96px;
  --space-128: 128px;
  --border-0: 0px;
  --border-1: 1px;
  --border-2: 2px;
  --border-3: 3px;
  --border-4: 4px;
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 12px;
  --radius-xl: 16px;
  --radius-2xl: 24px;
  --radius-full: 9999px;
  --breakpoint-480: 480px;
  --breakpoint-768: 768px;
  --breakpoint-1024: 1024px;
  --breakpoint-1280: 1280px;
  --breakpoint-1440: 1440px;
  --font-family: var(--font-figtree, "Figtree", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif);
}
