:root {
  --component-button-primary-bg-default: var(--semantic-action-primary);
  --component-button-primary-bg-disabled: var(--semantic-bg-disabled);
  --component-button-primary-bg-hover: var(--semantic-action-primary-hover);
  --component-button-primary-bg-pressed: var(--semantic-action-primary-pressed);
  --component-button-primary-text-default: var(--semantic-text-color-onPrimary);
  --component-button-primary-text-disabled: var(--semantic-text-color-disabled);
  --component-button-secondary-bg-default: var(--semantic-action-secondary);
  --component-button-secondary-bg-disabled: var(--semantic-bg-disabled);
  --component-button-secondary-bg-hover: var(--semantic-action-secondary-hover);
  --component-button-secondary-bg-pressed: var(--semantic-action-secondary-pressed);
  --component-button-secondary-text-default: var(--semantic-text-color-onPrimary);
  --component-button-secondary-text-disabled: var(--semantic-text-color-onPrimary);
  --component-button-tertiary-border-default: var(--semantic-action-tertiary);
  --component-button-tertiary-border-disabled: var(--semantic-border-disabled);
  --component-button-tertiary-border-hover: var(--semantic-action-secondary-hover);
  --component-button-tertiary-border-pressed: var(--semantic-action-secondary-pressed);
  --component-button-tertiary-text-default: var(--semantic-text-color-default);
  --component-button-tertiary-text-disabled: var(--semantic-text-color-disabled);
  --component-radio-bg-hover: var(--semantic-action-hover-onSurface);
  --component-radio-bg-pressed: var(--semantic-action-primary);
  --component-radio-border-default: var(--semantic-border-default);
  --component-radio-border-disabled: var(--semantic-border-disabled);
  --component-radio-text-description: var(--semantic-text-color-secondary);
  --component-radio-text-disabled: var(--semantic-text-color-disabled);
  --component-radio-text-label: var(--semantic-text-color-default);
  --component-checkbox-bg-default: var(--semantic-bg-default);
  --component-checkbox-bg-hover: var(--semantic-action-hover-onSurface);
  --component-checkbox-bg-pressed: var(--semantic-action-primary);
  --component-checkbox-border-default: var(--semantic-border-default);
  --component-checkbox-border-disabled: var(--semantic-border-disabled);
  --component-checkbox-text-disabled: var(--semantic-text-color-disabled);
  --component-checkbox-text-label: var(--semantic-text-color-default);
}
